<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QLQCPConnection"
			 connectionString="Server=.\SQLEXPRESS;Database=QLQCP;Integrated Security=True;MultipleActiveResultSets=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="IDNganHang" value="VCB" />
		<add key="STKNganHang" value="1032306591" />
		<add key="ThongTinThanhToan" value="ThanhToan" />
		<add key="TenQuan" value="Cà phê pha" />
		<add key="DiaChi" value="khách sạn tình iu" />
		<add key="SDT" value="0999999999" />
		
		<add key="MatKhauMacDinh" value="123" />
		
	</appSettings>
</configuration>